.loading {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.imgs img{
    height: 600px;
    width: 600px;
   position: absolute;
   right: 650px;
   top: 150px;
}

@media (max-width:600px) {
    .imgs img{
        height: 200px;
        width: 200px;
       position: absolute;
       right: 30%;
       top: 150px;
    }
}
