.conteiner {
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: center; 
}

.sectionDescription {
    min-width: 480px;
    width: 60%;
    height: 100%;
    background-color: rgb(95, 102, 100);
    display: flex; 
}

.foto {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.foto img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    margin-top: 60px;

}

.foto p {
    margin: 12px 30px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.description {
    background-color: azure;
    width: 100%;
    height: 100%;
    padding: 0 20px;
  
}

.description h2 {
    text-align: center;
    color: red;
    margin: 30px 0;
    
}

.description p {
    padding-bottom: 30px;
    line-height: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: justify;
    font-size: 22px;
   

} 

@media (max-width:780px) {
    .sectionDescription {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       
       
    }

    .description {
        padding: 0;
        background-color: azure;
        max-width: calc(100vw);
        height: 100%;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        
      
    }

    .foto p {
       display: none;
    }

    .description h2 {
        padding: 10px 0;
    }

}